<% provide(:title, "Preference Guide") %>
<div class="container-fluid row row-centered">
  <div class="container-fluid row row-centered">
    <a href="/preference/get_html">
      <button style="align='middle'"><%= image_tag 'preference_guide.png' %></button>
    </a>
  </div>
</div>
<!-- /container -->
